h1	{
	color: green;
}
input{
	display:block;
	margin-bottom: 15px;
}
label .val{
	font-weight: 600;
	margin-left: 10px;
}


input[type=range]{
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;

   
    background: #ccc;
   	height: 43px;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 43px;
    width: 20px;
    background: #000;


}

input[type=range]:focus {
    outline: none;
}

/*
.input-group-addon .slider-output{
	margin-bottom: 0px;
	height: 43px;
	padding: 10px 10px;
	width: 100px;
	background-color: black;
	color: white;
	border: none;
	text-align: center;
}

.slider .input-group-addon{

	border: none;
}
.input-group.slider{
	margin-bottom: 20px;
}*/

.slider-group 
{
	display: table;
	width: 100%;
}

.slider-group input[type=range]{}

.slider-group div
{
	display: table-cell;
	width: 250px;
	vertical-align: top;
}

.slider-group input[type=text]
{
	height: 43px;
	width: 100%;

	background-color: #000;
	color: white;
	
	border: none;
	border-left: 1px solid #ccc;

	font-size: 22px;
	text-align: center;
}
